.navbar-brand{
        font-family: viga;
        font-size: 32px;
}

@media (min-width: 992px) {
        .nav-link{
                text-transform: uppercase;
                margin-right: 29px;
         }
         .nav-link:hover::after{
                content: '';
                display: block;
                border-bottom: 3px solid #0b63dc;
                width: 70%;
                margin:  auto;
                 }
 }